-- MySQL dump 10.11
--
-- Host: localhost    Database: aurora_db
-- ------------------------------------------------------
-- Server version	5.0.51b-community-nt

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `audit_logs`
--

DROP TABLE IF EXISTS `audit_logs`;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
CREATE TABLE `audit_logs` (
  `id` bigint(20) unsigned NOT NULL auto_increment,
  `username` varchar(80) collate utf8_unicode_ci NOT NULL,
  `action` varchar(80) collate utf8_unicode_ci NOT NULL,
  `details` text collate utf8_unicode_ci,
  `ip_address` varchar(45) collate utf8_unicode_ci default NULL,
  `created_at` timestamp NULL default CURRENT_TIMESTAMP,
  PRIMARY KEY  (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
SET character_set_client = @saved_cs_client;

--
-- Dumping data for table `audit_logs`
--

LOCK TABLES `audit_logs` WRITE;
/*!40000 ALTER TABLE `audit_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `audit_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `booking_concessions`
--

DROP TABLE IF EXISTS `booking_concessions`;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
CREATE TABLE `booking_concessions` (
  `id` bigint(20) unsigned NOT NULL auto_increment,
  `booking_id` bigint(20) unsigned NOT NULL,
  `item_code` varchar(50) NOT NULL,
  `item_name` varchar(160) NOT NULL,
  `quantity` int(10) unsigned NOT NULL,
  `unit_price` decimal(10,2) NOT NULL,
  `created_at` timestamp NULL default CURRENT_TIMESTAMP,
  PRIMARY KEY  (`id`),
  KEY `idx_booking_concessions_booking` (`booking_id`),
  CONSTRAINT `booking_concessions_ibfk_1` FOREIGN KEY (`booking_id`) REFERENCES `bookings` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
SET character_set_client = @saved_cs_client;

--
-- Dumping data for table `booking_concessions`
--

LOCK TABLES `booking_concessions` WRITE;
/*!40000 ALTER TABLE `booking_concessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `booking_concessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `booking_seats`
--

DROP TABLE IF EXISTS `booking_seats`;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
CREATE TABLE `booking_seats` (
  `id` bigint(20) unsigned NOT NULL auto_increment,
  `booking_id` bigint(20) unsigned NOT NULL,
  `seat_id` bigint(20) unsigned NOT NULL,
  `price` decimal(10,2) NOT NULL default '0.00',
  PRIMARY KEY  (`id`),
  UNIQUE KEY `unique_booked_seat` (`booking_id`,`seat_id`),
  KEY `seat_id` (`seat_id`),
  CONSTRAINT `booking_seats_ibfk_1` FOREIGN KEY (`booking_id`) REFERENCES `bookings` (`id`) ON DELETE CASCADE,
  CONSTRAINT `booking_seats_ibfk_2` FOREIGN KEY (`seat_id`) REFERENCES `seats` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
SET character_set_client = @saved_cs_client;

--
-- Dumping data for table `booking_seats`
--

LOCK TABLES `booking_seats` WRITE;
/*!40000 ALTER TABLE `booking_seats` DISABLE KEYS */;
/*!40000 ALTER TABLE `booking_seats` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bookings`
--

DROP TABLE IF EXISTS `bookings`;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
CREATE TABLE `bookings` (
  `id` bigint(20) unsigned NOT NULL auto_increment,
  `user_id` bigint(20) unsigned NOT NULL,
  `showtime_id` bigint(20) unsigned NOT NULL,
  `booking_code` varchar(30) NOT NULL,
  `total_amount` decimal(10,2) NOT NULL default '0.00',
  `status` enum('PENDING','PAID','CANCELLED','EXPIRED') NOT NULL default 'PENDING',
  `created_at` timestamp NULL default CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL default NULL,
  PRIMARY KEY  (`id`),
  UNIQUE KEY `booking_code` (`booking_code`),
  KEY `user_id` (`user_id`),
  KEY `showtime_id` (`showtime_id`),
  CONSTRAINT `bookings_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`),
  CONSTRAINT `bookings_ibfk_2` FOREIGN KEY (`showtime_id`) REFERENCES `showtimes` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
SET character_set_client = @saved_cs_client;

--
-- Dumping data for table `bookings`
--

LOCK TABLES `bookings` WRITE;
/*!40000 ALTER TABLE `bookings` DISABLE KEYS */;
/*!40000 ALTER TABLE `bookings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `customer_home_events`
--

DROP TABLE IF EXISTS `customer_home_events`;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
CREATE TABLE `customer_home_events` (
  `id` bigint(20) unsigned NOT NULL auto_increment,
  `session_key` varchar(128) NOT NULL,
  `user_id` bigint(20) unsigned default NULL,
  `event_type` varchar(30) NOT NULL,
  `entity_type` varchar(30) NOT NULL default '',
  `entity_id` bigint(20) unsigned default NULL,
  `metadata_json` text,
  `created_at` datetime NOT NULL,
  PRIMARY KEY  (`id`),
  KEY `idx_home_event_created` (`created_at`),
  KEY `idx_home_event_user` (`user_id`,`created_at`),
  KEY `idx_home_event_entity` (`entity_type`,`entity_id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8;
SET character_set_client = @saved_cs_client;

--
-- Dumping data for table `customer_home_events`
--

LOCK TABLES `customer_home_events` WRITE;
/*!40000 ALTER TABLE `customer_home_events` DISABLE KEYS */;
/*!40000 ALTER TABLE `customer_home_events` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `customer_movie_catalog_events`
--

DROP TABLE IF EXISTS `customer_movie_catalog_events`;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
CREATE TABLE `customer_movie_catalog_events` (
  `id` bigint(20) unsigned NOT NULL auto_increment,
  `session_key` varchar(128) NOT NULL,
  `user_id` bigint(20) unsigned default NULL,
  `movie_id` bigint(20) unsigned default NULL,
  `event_type` varchar(30) NOT NULL,
  `status_filter` varchar(30) NOT NULL default '',
  `genre_filter` varchar(100) NOT NULL default '',
  `search_query` varchar(120) NOT NULL default '',
  `created_at` datetime NOT NULL,
  PRIMARY KEY  (`id`),
  KEY `idx_catalog_event_created` (`created_at`),
  KEY `idx_catalog_event_movie` (`movie_id`,`created_at`),
  KEY `idx_catalog_event_user` (`user_id`,`created_at`)
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8;
SET character_set_client = @saved_cs_client;

--
-- Dumping data for table `customer_movie_catalog_events`
--

LOCK TABLES `customer_movie_catalog_events` WRITE;
/*!40000 ALTER TABLE `customer_movie_catalog_events` DISABLE KEYS */;
/*!40000 ALTER TABLE `customer_movie_catalog_events` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `customer_schedule_events`
--

DROP TABLE IF EXISTS `customer_schedule_events`;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
CREATE TABLE `customer_schedule_events` (
  `id` bigint(20) unsigned NOT NULL auto_increment,
  `session_key` varchar(128) NOT NULL,
  `user_id` bigint(20) unsigned default NULL,
  `movie_id` bigint(20) unsigned NOT NULL,
  `theater_id` bigint(20) unsigned default NULL,
  `showtime_id` bigint(20) unsigned default NULL,
  `selected_date` date NOT NULL,
  `event_type` varchar(30) NOT NULL,
  `created_at` datetime NOT NULL,
  PRIMARY KEY  (`id`),
  KEY `idx_schedule_event_created` (`created_at`),
  KEY `idx_schedule_event_movie` (`movie_id`,`selected_date`),
  KEY `idx_schedule_event_theater` (`theater_id`),
  KEY `idx_schedule_event_showtime` (`showtime_id`),
  CONSTRAINT `fk_customer_schedule_events_showtime` FOREIGN KEY (`showtime_id`) REFERENCES `showtimes` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=44 DEFAULT CHARSET=utf8;
SET character_set_client = @saved_cs_client;

--
-- Dumping data for table `customer_schedule_events`
--

LOCK TABLES `customer_schedule_events` WRITE;
/*!40000 ALTER TABLE `customer_schedule_events` DISABLE KEYS */;
/*!40000 ALTER TABLE `customer_schedule_events` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `customer_theater_detail_events`
--

DROP TABLE IF EXISTS `customer_theater_detail_events`;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
CREATE TABLE `customer_theater_detail_events` (
  `id` bigint(20) unsigned NOT NULL auto_increment,
  `session_key` varchar(128) NOT NULL,
  `user_id` bigint(20) unsigned default NULL,
  `theater_id` bigint(20) unsigned NOT NULL,
  `showtime_id` bigint(20) unsigned default NULL,
  `selected_date` date NOT NULL,
  `event_type` varchar(30) NOT NULL,
  `created_at` datetime NOT NULL,
  PRIMARY KEY  (`id`),
  KEY `idx_theater_detail_created` (`created_at`),
  KEY `idx_theater_detail_theater` (`theater_id`,`selected_date`),
  KEY `idx_theater_detail_showtime` (`showtime_id`),
  KEY `idx_theater_detail_user` (`user_id`,`created_at`),
  CONSTRAINT `fk_customer_theater_detail_events_showtime` FOREIGN KEY (`showtime_id`) REFERENCES `showtimes` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8;
SET character_set_client = @saved_cs_client;

--
-- Dumping data for table `customer_theater_detail_events`
--

LOCK TABLES `customer_theater_detail_events` WRITE;
/*!40000 ALTER TABLE `customer_theater_detail_events` DISABLE KEYS */;
/*!40000 ALTER TABLE `customer_theater_detail_events` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `customer_theater_schedule_events`
--

DROP TABLE IF EXISTS `customer_theater_schedule_events`;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
CREATE TABLE `customer_theater_schedule_events` (
  `id` bigint(20) unsigned NOT NULL auto_increment,
  `session_key` varchar(128) NOT NULL,
  `user_id` bigint(20) unsigned default NULL,
  `theater_id` bigint(20) unsigned NOT NULL,
  `showtime_id` bigint(20) unsigned default NULL,
  `selected_date` date NOT NULL,
  `event_type` varchar(30) NOT NULL,
  `created_at` datetime NOT NULL,
  PRIMARY KEY  (`id`),
  KEY `idx_theater_schedule_created` (`created_at`),
  KEY `idx_theater_schedule_theater` (`theater_id`,`selected_date`),
  KEY `idx_theater_schedule_showtime` (`showtime_id`),
  KEY `idx_theater_schedule_user` (`user_id`,`created_at`),
  CONSTRAINT `fk_customer_theater_schedule_events_showtime` FOREIGN KEY (`showtime_id`) REFERENCES `showtimes` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=75 DEFAULT CHARSET=utf8;
SET character_set_client = @saved_cs_client;

--
-- Dumping data for table `customer_theater_schedule_events`
--

LOCK TABLES `customer_theater_schedule_events` WRITE;
/*!40000 ALTER TABLE `customer_theater_schedule_events` DISABLE KEYS */;
/*!40000 ALTER TABLE `customer_theater_schedule_events` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `customer_ticket_price_views`
--

DROP TABLE IF EXISTS `customer_ticket_price_views`;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
CREATE TABLE `customer_ticket_price_views` (
  `id` bigint(20) unsigned NOT NULL auto_increment,
  `session_key` varchar(128) NOT NULL,
  `user_id` bigint(20) unsigned default NULL,
  `selected_date` date NOT NULL,
  `day_type` varchar(20) NOT NULL,
  `viewed_at` datetime NOT NULL,
  PRIMARY KEY  (`id`),
  KEY `idx_price_view_date` (`viewed_at`),
  KEY `idx_price_view_user` (`user_id`),
  KEY `idx_price_selected_date` (`selected_date`)
) ENGINE=InnoDB AUTO_INCREMENT=75 DEFAULT CHARSET=utf8;
SET character_set_client = @saved_cs_client;

--
-- Dumping data for table `customer_ticket_price_views`
--

LOCK TABLES `customer_ticket_price_views` WRITE;
/*!40000 ALTER TABLE `customer_ticket_price_views` DISABLE KEYS */;
/*!40000 ALTER TABLE `customer_ticket_price_views` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `customers`
--

DROP TABLE IF EXISTS `customers`;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
CREATE TABLE `customers` (
  `id` bigint(20) unsigned NOT NULL auto_increment,
  `full_name` varchar(120) collate utf8_unicode_ci NOT NULL,
  `phone` varchar(20) collate utf8_unicode_ci NOT NULL,
  `email` varchar(180) collate utf8_unicode_ci default NULL,
  `membership_level` enum('standard','silver','gold','platinum') collate utf8_unicode_ci NOT NULL default 'standard',
  `points` int(10) unsigned NOT NULL default '0',
  `created_at` timestamp NULL default CURRENT_TIMESTAMP,
  `updated_at` datetime default NULL,
  PRIMARY KEY  (`id`),
  UNIQUE KEY `phone` (`phone`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
SET character_set_client = @saved_cs_client;

--
-- Dumping data for table `customers`
--

LOCK TABLES `customers` WRITE;
/*!40000 ALTER TABLE `customers` DISABLE KEYS */;
/*!40000 ALTER TABLE `customers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `loyalty_point_transactions`
--

DROP TABLE IF EXISTS `loyalty_point_transactions`;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
CREATE TABLE `loyalty_point_transactions` (
  `id` bigint(20) unsigned NOT NULL auto_increment,
  `user_id` bigint(20) unsigned NOT NULL,
  `booking_id` bigint(20) unsigned default NULL,
  `points_change` int(11) NOT NULL,
  `balance_after` int(10) unsigned NOT NULL,
  `transaction_type` varchar(30) NOT NULL,
  `description` varchar(255) NOT NULL,
  `created_at` datetime NOT NULL,
  PRIMARY KEY  (`id`),
  UNIQUE KEY `uq_loyalty_booking` (`booking_id`),
  KEY `idx_loyalty_user_created` (`user_id`,`created_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
SET character_set_client = @saved_cs_client;

--
-- Dumping data for table `loyalty_point_transactions`
--

LOCK TABLES `loyalty_point_transactions` WRITE;
/*!40000 ALTER TABLE `loyalty_point_transactions` DISABLE KEYS */;
/*!40000 ALTER TABLE `loyalty_point_transactions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `movie_allocation_briefings`
--

DROP TABLE IF EXISTS `movie_allocation_briefings`;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
CREATE TABLE `movie_allocation_briefings` (
  `id` bigint(20) unsigned NOT NULL auto_increment,
  `allocation_id` bigint(20) unsigned NOT NULL,
  `message` varchar(500) NOT NULL,
  `sent_by` varchar(120) NOT NULL,
  `sent_at` datetime NOT NULL,
  PRIMARY KEY  (`id`),
  UNIQUE KEY `uq_allocation_briefing` (`allocation_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
SET character_set_client = @saved_cs_client;

--
-- Dumping data for table `movie_allocation_briefings`
--

LOCK TABLES `movie_allocation_briefings` WRITE;
/*!40000 ALTER TABLE `movie_allocation_briefings` DISABLE KEYS */;
/*!40000 ALTER TABLE `movie_allocation_briefings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `movie_allocation_screen_preparations`
--

DROP TABLE IF EXISTS `movie_allocation_screen_preparations`;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
CREATE TABLE `movie_allocation_screen_preparations` (
  `id` bigint(20) unsigned NOT NULL auto_increment,
  `allocation_id` bigint(20) unsigned NOT NULL,
  `screen_id` bigint(20) unsigned NOT NULL,
  `preparation_status` varchar(20) NOT NULL default 'ready',
  `note` varchar(500) NOT NULL,
  `prepared_by` varchar(120) NOT NULL,
  `prepared_at` datetime NOT NULL,
  PRIMARY KEY  (`id`),
  UNIQUE KEY `uq_allocation_prepared_screen` (`allocation_id`,`screen_id`),
  KEY `idx_preparation_allocation` (`allocation_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
SET character_set_client = @saved_cs_client;

--
-- Dumping data for table `movie_allocation_screen_preparations`
--

LOCK TABLES `movie_allocation_screen_preparations` WRITE;
/*!40000 ALTER TABLE `movie_allocation_screen_preparations` DISABLE KEYS */;
/*!40000 ALTER TABLE `movie_allocation_screen_preparations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `movie_allocation_tasks`
--

DROP TABLE IF EXISTS `movie_allocation_tasks`;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
CREATE TABLE `movie_allocation_tasks` (
  `id` bigint(20) unsigned NOT NULL auto_increment,
  `allocation_id` bigint(20) unsigned NOT NULL,
  `task_key` varchar(60) NOT NULL,
  `task_name` varchar(180) NOT NULL,
  `task_description` varchar(500) NOT NULL,
  `status` varchar(20) NOT NULL default 'pending',
  `updated_by` varchar(120) NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY  (`id`),
  UNIQUE KEY `uq_allocation_task` (`allocation_id`,`task_key`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8;
SET character_set_client = @saved_cs_client;

--
-- Dumping data for table `movie_allocation_tasks`
--

LOCK TABLES `movie_allocation_tasks` WRITE;
/*!40000 ALTER TABLE `movie_allocation_tasks` DISABLE KEYS */;
INSERT INTO `movie_allocation_tasks` VALUES (1,6,'review_assets','Kiểm tra hồ sơ & phiên bản phim','','completed','Hệ thống Aurora DB','2026-10-03 15:19:42'),(2,6,'prepare_screens','Chuẩn bị phòng chiếu ưu tiên','','pending','','2026-10-03 15:27:16'),(3,6,'create_showtimes','Lập lịch chiếu theo chỉ tiêu','','pending','','2026-10-03 15:27:16'),(4,6,'brief_team','Thông báo đội ngũ vận hành','','pending','','2026-10-03 15:27:16'),(5,6,'opening_check','Kiểm tra trước ngày triển khai','','pending','','2026-10-03 15:27:16');
/*!40000 ALTER TABLE `movie_allocation_tasks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `movie_allocations`
--

DROP TABLE IF EXISTS `movie_allocations`;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
CREATE TABLE `movie_allocations` (
  `id` bigint(20) unsigned NOT NULL auto_increment,
  `plan_id` bigint(20) unsigned NOT NULL,
  `movie_id` bigint(20) unsigned NOT NULL,
  `movie_title` varchar(200) NOT NULL,
  `theater_id` bigint(20) unsigned NOT NULL,
  `theater_name` varchar(150) NOT NULL,
  `min_screenings_per_day` int(11) NOT NULL default '0',
  `preferred_screen_types` varchar(120) NOT NULL,
  `allocated_start_date` date NOT NULL,
  `allocated_end_date` date NOT NULL,
  `status` varchar(30) NOT NULL default 'pending',
  `confirmed_by` varchar(120) NOT NULL,
  `confirmed_at` datetime NOT NULL,
  PRIMARY KEY  (`id`),
  UNIQUE KEY `uq_movie_allocation_plan_theater` (`plan_id`,`theater_id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8;
SET character_set_client = @saved_cs_client;

--
-- Dumping data for table `movie_allocations`
--

LOCK TABLES `movie_allocations` WRITE;
/*!40000 ALTER TABLE `movie_allocations` DISABLE KEYS */;
INSERT INTO `movie_allocations` VALUES (6,3,23,'HÀNH TINH CUỐI CÙNG',1,'Aurora Q1',6,'2D Digital / 3D / IMAX','2026-10-01','2026-10-28','confirmed','Lê Hoàng Nam','2026-10-03 15:55:49');
/*!40000 ALTER TABLE `movie_allocations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `movie_plans`
--

DROP TABLE IF EXISTS `movie_plans`;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
CREATE TABLE `movie_plans` (
  `id` bigint(20) unsigned NOT NULL auto_increment,
  `plan_code` varchar(50) NOT NULL,
  `plan_name` varchar(255) NOT NULL,
  `plan_month` int(11) NOT NULL,
  `plan_year` int(11) NOT NULL,
  `movie_id` bigint(20) unsigned NOT NULL,
  `movie_title` varchar(200) NOT NULL,
  `format` varchar(100) NOT NULL,
  `expected_start_date` date NOT NULL,
  `expected_end_date` date NOT NULL,
  `target_revenue` decimal(14,2) NOT NULL default '0.00',
  `target_screenings_per_day` int(11) NOT NULL default '0',
  `priority_level` varchar(20) NOT NULL default 'medium',
  `status` varchar(30) NOT NULL default 'draft',
  `note` text NOT NULL,
  `planned_theater_ids` text NOT NULL,
  `created_by` varchar(120) NOT NULL,
  `created_at` datetime NOT NULL,
  `approved_by` varchar(120) NOT NULL,
  `approved_at` datetime NOT NULL,
  `updated_by` varchar(120) NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY  (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8;
SET character_set_client = @saved_cs_client;

--
-- Dumping data for table `movie_plans`
--

LOCK TABLES `movie_plans` WRITE;
/*!40000 ALTER TABLE `movie_plans` DISABLE KEYS */;
INSERT INTO `movie_plans` VALUES (3,'AUTO-9EAE2DCF','Kế hoạch Phim Tháng 10/2026',10,2026,23,'HÀNH TINH CUỐI CÙNG','2D Digital / 3D / IMAX','2026-10-01','2026-10-28','500000000.00',6,'high','published','Mô tả đang được cập nhật.','','Nguyễn Trần Thái Bảo','2026-10-03 00:00:00','Thông tin đang cập nhật','2026-10-03 00:00:00','2026-10-03','2026-10-03 00:00:00');
/*!40000 ALTER TABLE `movie_plans` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `movie_search_logs`
--

DROP TABLE IF EXISTS `movie_search_logs`;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
CREATE TABLE `movie_search_logs` (
  `id` bigint(20) unsigned NOT NULL auto_increment,
  `session_key` varchar(128) NOT NULL,
  `user_id` bigint(20) unsigned default NULL,
  `movie_id` bigint(20) unsigned default NULL,
  `search_query` varchar(120) NOT NULL,
  `created_at` datetime NOT NULL,
  PRIMARY KEY  (`id`),
  KEY `idx_movie_search_created` (`created_at`),
  KEY `idx_movie_search_movie` (`movie_id`),
  KEY `idx_movie_search_user` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8;
SET character_set_client = @saved_cs_client;

--
-- Dumping data for table `movie_search_logs`
--

LOCK TABLES `movie_search_logs` WRITE;
/*!40000 ALTER TABLE `movie_search_logs` DISABLE KEYS */;
INSERT INTO `movie_search_logs` VALUES (1,'1o9bk0dtgsgb3aif8e1vkqlnt2',3,1,'HÀNH TRÌNH','2026-10-04 23:54:14');
/*!40000 ALTER TABLE `movie_search_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `movies`
--

DROP TABLE IF EXISTS `movies`;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
CREATE TABLE `movies` (
  `id` bigint(20) unsigned NOT NULL auto_increment,
  `title` varchar(180) collate utf8_unicode_ci NOT NULL,
  `description` text collate utf8_unicode_ci,
  `duration_minutes` smallint(5) unsigned NOT NULL,
  `age_rating` varchar(10) collate utf8_unicode_ci NOT NULL default 'P',
  `format` varchar(100) collate utf8_unicode_ci NOT NULL default '2D Digital',
  `genre` varchar(150) collate utf8_unicode_ci default NULL,
  `poster_url` varchar(500) collate utf8_unicode_ci default NULL,
  `trailer_url` varchar(500) collate utf8_unicode_ci default NULL,
  `status` varchar(40) collate utf8_unicode_ci NOT NULL default 'NOW_SHOWING',
  `is_hot` tinyint(1) NOT NULL default '1',
  `release_date` date default NULL,
  `created_at` timestamp NULL default CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL,
  `movie_code` varchar(50) collate utf8_unicode_ci default NULL,
  `original_title` varchar(180) collate utf8_unicode_ci default NULL,
  `director` varchar(180) collate utf8_unicode_ci default NULL,
  `cast` text collate utf8_unicode_ci,
  `writer` varchar(180) collate utf8_unicode_ci default NULL,
  `producer` varchar(180) collate utf8_unicode_ci default NULL,
  `production_country` varchar(100) collate utf8_unicode_ci default NULL,
  `production_year` smallint(5) unsigned default NULL,
  `plot_details` mediumtext collate utf8_unicode_ci,
  `original_language` varchar(80) collate utf8_unicode_ci default NULL,
  `localization_versions` varchar(255) collate utf8_unicode_ci default NULL,
  `expected_end_date` date default NULL,
  `distributor` varchar(180) collate utf8_unicode_ci default NULL,
  `banner_url` varchar(500) collate utf8_unicode_ci default NULL,
  PRIMARY KEY  (`id`),
  UNIQUE KEY `uq_movies_movie_code` (`movie_code`)
) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
SET character_set_client = @saved_cs_client;

--
-- Dumping data for table `movies`
--

LOCK TABLES `movies` WRITE;
/*!40000 ALTER TABLE `movies` DISABLE KEYS */;
/*!40000 ALTER TABLE `movies` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `oauth_accounts`
--

DROP TABLE IF EXISTS `oauth_accounts`;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
CREATE TABLE `oauth_accounts` (
  `id` bigint(20) unsigned NOT NULL auto_increment,
  `user_id` bigint(20) unsigned NOT NULL,
  `provider` enum('google','facebook') collate utf8_unicode_ci NOT NULL,
  `provider_user_id` varchar(191) collate utf8_unicode_ci NOT NULL,
  `provider_email` varchar(180) collate utf8_unicode_ci default NULL,
  `provider_name` varchar(120) collate utf8_unicode_ci default NULL,
  `avatar_url` varchar(500) collate utf8_unicode_ci default NULL,
  `created_at` timestamp NULL default CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL default NULL,
  `last_login_at` timestamp NULL default NULL,
  PRIMARY KEY  (`id`),
  UNIQUE KEY `uq_oauth_provider_identity` (`provider`,`provider_user_id`),
  UNIQUE KEY `uq_oauth_user_provider` (`user_id`,`provider`),
  KEY `idx_oauth_provider_email` (`provider_email`),
  CONSTRAINT `fk_oauth_accounts_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
SET character_set_client = @saved_cs_client;

--
-- Dumping data for table `oauth_accounts`
--

LOCK TABLES `oauth_accounts` WRITE;
/*!40000 ALTER TABLE `oauth_accounts` DISABLE KEYS */;
INSERT INTO `oauth_accounts` VALUES (1,13,'google','mock_google_3a8b2441503022','nguyenvanan.customer@gmail.com','Nguyễn Văn An','https://ui-avatars.com/api/?name=Nguy%E1%BB%85n+V%C4%83n+An&background=0D8ABC&color=fff','2026-10-05 20:32:21','2026-10-05 20:32:21','2026-10-05 20:32:21'),(2,14,'facebook','mock_facebook_93e73016f14ef0','leminhthao.fb@facebook.com','Lê Minh Thảo','https://ui-avatars.com/api/?name=L%C3%AA+Minh+Th%E1%BA%A3o&background=0D8ABC&color=fff','2026-10-05 20:32:36','2026-10-05 20:32:36','2026-10-05 20:32:36');
/*!40000 ALTER TABLE `oauth_accounts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `oauth_login_attempts`
--

DROP TABLE IF EXISTS `oauth_login_attempts`;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
CREATE TABLE `oauth_login_attempts` (
  `id` bigint(20) unsigned NOT NULL auto_increment,
  `provider` enum('google','facebook') collate utf8_unicode_ci NOT NULL,
  `user_id` bigint(20) unsigned default NULL,
  `provider_user_id` varchar(191) collate utf8_unicode_ci default NULL,
  `state_hash` char(64) collate utf8_unicode_ci NOT NULL,
  `status` enum('started','succeeded','failed') collate utf8_unicode_ci NOT NULL default 'started',
  `error_code` varchar(60) collate utf8_unicode_ci default NULL,
  `error_message` varchar(255) collate utf8_unicode_ci default NULL,
  `ip_address_hash` char(64) collate utf8_unicode_ci default NULL,
  `user_agent` varchar(255) collate utf8_unicode_ci default NULL,
  `created_at` datetime NOT NULL,
  `completed_at` datetime default NULL,
  PRIMARY KEY  (`id`),
  KEY `idx_oauth_attempt_provider_status` (`provider`,`status`,`created_at`),
  KEY `idx_oauth_attempt_user` (`user_id`,`created_at`),
  CONSTRAINT `fk_oauth_attempt_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
SET character_set_client = @saved_cs_client;

--
-- Dumping data for table `oauth_login_attempts`
--

LOCK TABLES `oauth_login_attempts` WRITE;
/*!40000 ALTER TABLE `oauth_login_attempts` DISABLE KEYS */;
/*!40000 ALTER TABLE `oauth_login_attempts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `order_items`
--

DROP TABLE IF EXISTS `order_items`;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
CREATE TABLE `order_items` (
  `id` bigint(20) unsigned NOT NULL auto_increment,
  `order_id` bigint(20) unsigned NOT NULL,
  `item_type` varchar(20) NOT NULL,
  `item_code` varchar(60) NOT NULL,
  `item_name` varchar(180) NOT NULL,
  `quantity` int(10) unsigned NOT NULL,
  `unit_price` decimal(12,2) NOT NULL,
  `seat_id` bigint(20) unsigned NOT NULL default '0',
  `created_at` datetime NOT NULL,
  PRIMARY KEY  (`id`),
  KEY `idx_order_items_order` (`order_id`),
  CONSTRAINT `fk_order_items_order` FOREIGN KEY (`order_id`) REFERENCES `orders` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
SET character_set_client = @saved_cs_client;

--
-- Dumping data for table `order_items`
--

LOCK TABLES `order_items` WRITE;
/*!40000 ALTER TABLE `order_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `order_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `orders`
--

DROP TABLE IF EXISTS `orders`;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
CREATE TABLE `orders` (
  `id` bigint(20) unsigned NOT NULL auto_increment,
  `order_code` varchar(30) NOT NULL,
  `booking_id` bigint(20) unsigned NOT NULL default '0',
  `customer_id` bigint(20) unsigned NOT NULL default '0',
  `cashier_id` bigint(20) unsigned NOT NULL default '0',
  `channel` varchar(12) NOT NULL,
  `subtotal` decimal(12,2) NOT NULL default '0.00',
  `discount_amount` decimal(12,2) NOT NULL default '0.00',
  `total_amount` decimal(12,2) NOT NULL default '0.00',
  `payment_method` varchar(30) NOT NULL default 'CASH',
  `amount_received` decimal(12,2) NOT NULL default '0.00',
  `change_amount` decimal(12,2) NOT NULL default '0.00',
  `status` varchar(20) NOT NULL default 'PAID',
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY  (`id`),
  UNIQUE KEY `order_code` (`order_code`),
  KEY `idx_orders_created` (`created_at`),
  KEY `idx_orders_customer` (`customer_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
SET character_set_client = @saved_cs_client;

--
-- Dumping data for table `orders`
--

LOCK TABLES `orders` WRITE;
/*!40000 ALTER TABLE `orders` DISABLE KEYS */;
/*!40000 ALTER TABLE `orders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payments`
--

DROP TABLE IF EXISTS `payments`;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
CREATE TABLE `payments` (
  `id` bigint(20) unsigned NOT NULL auto_increment,
  `order_id` bigint(20) unsigned NOT NULL,
  `method` varchar(20) NOT NULL,
  `amount` decimal(12,2) NOT NULL,
  `reference_code` varchar(80) NOT NULL default '',
  `created_at` datetime NOT NULL,
  PRIMARY KEY  (`id`),
  KEY `fk_payments_order` (`order_id`),
  CONSTRAINT `fk_payments_order` FOREIGN KEY (`order_id`) REFERENCES `orders` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
SET character_set_client = @saved_cs_client;

--
-- Dumping data for table `payments`
--

LOCK TABLES `payments` WRITE;
/*!40000 ALTER TABLE `payments` DISABLE KEYS */;
/*!40000 ALTER TABLE `payments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pos_login_events`
--

DROP TABLE IF EXISTS `pos_login_events`;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
CREATE TABLE `pos_login_events` (
  `id` bigint(20) unsigned NOT NULL auto_increment,
  `user_id` bigint(20) unsigned default NULL,
  `username` varchar(60) collate utf8_unicode_ci NOT NULL,
  `event_type` varchar(30) collate utf8_unicode_ci NOT NULL,
  `is_success` tinyint(1) NOT NULL default '0',
  `ip_address` varchar(45) collate utf8_unicode_ci default NULL,
  `user_agent` varchar(255) collate utf8_unicode_ci default NULL,
  `created_at` timestamp NULL default CURRENT_TIMESTAMP,
  PRIMARY KEY  (`id`),
  KEY `idx_pos_login_user_created` (`user_id`,`created_at`),
  KEY `idx_pos_login_username_created` (`username`,`created_at`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
SET character_set_client = @saved_cs_client;

--
-- Dumping data for table `pos_login_events`
--

LOCK TABLES `pos_login_events` WRITE;
/*!40000 ALTER TABLE `pos_login_events` DISABLE KEYS */;
/*!40000 ALTER TABLE `pos_login_events` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pos_shifts`
--

DROP TABLE IF EXISTS `pos_shifts`;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
CREATE TABLE `pos_shifts` (
  `id` bigint(20) unsigned NOT NULL auto_increment,
  `user_id` bigint(20) unsigned NOT NULL,
  `theater_id` bigint(20) unsigned NOT NULL default '1',
  `cinema_name` varchar(120) collate utf8_unicode_ci NOT NULL,
  `counter` varchar(60) collate utf8_unicode_ci NOT NULL,
  `initial_cash` decimal(12,2) NOT NULL default '0.00',
  `cash_at_close` decimal(12,2) default NULL,
  `status` enum('active','paused','closed') collate utf8_unicode_ci NOT NULL default 'active',
  `opened_at` datetime NOT NULL,
  `closed_at` datetime default NULL,
  `notes` text collate utf8_unicode_ci,
  `created_at` timestamp NULL default CURRENT_TIMESTAMP,
  `updated_at` datetime default NULL,
  PRIMARY KEY  (`id`),
  KEY `idx_pos_shifts_user_status` (`user_id`,`status`),
  KEY `idx_pos_shifts_theater` (`theater_id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
SET character_set_client = @saved_cs_client;

--
-- Dumping data for table `pos_shifts`
--

LOCK TABLES `pos_shifts` WRITE;
/*!40000 ALTER TABLE `pos_shifts` DISABLE KEYS */;
INSERT INTO `pos_shifts` VALUES (1,1,1,'Aurora Q1','AURORA BOX 02','500000.00','500000.00','closed','2026-10-06 02:15:13','2026-10-06 02:15:13',NULL,'2026-10-05 19:15:13','2026-10-06 02:15:13'),(2,2,1,'Aurora Q1','AURORA BOX 01','500000.00','0.00','closed','2026-10-06 02:21:54','2026-10-06 02:21:54',NULL,'2026-10-05 19:21:54','2026-10-06 02:21:54'),(3,1,1,'Aurora Q1','AURORA BOX 02','500000.00',NULL,'paused','2026-10-06 02:23:14',NULL,NULL,'2026-10-05 19:23:14','2026-10-06 02:44:33');
/*!40000 ALTER TABLE `pos_shifts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pos_users`
--

DROP TABLE IF EXISTS `pos_users`;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
CREATE TABLE `pos_users` (
  `id` bigint(20) unsigned NOT NULL auto_increment,
  `username` varchar(60) collate utf8_unicode_ci NOT NULL,
  `password_hash` varchar(255) collate utf8_unicode_ci NOT NULL,
  `full_name` varchar(120) collate utf8_unicode_ci NOT NULL,
  `phone` varchar(20) collate utf8_unicode_ci default NULL,
  `role` enum('cashier','supervisor','admin') collate utf8_unicode_ci NOT NULL default 'cashier',
  `status` enum('active','inactive','locked') collate utf8_unicode_ci NOT NULL default 'active',
  `theater_id` bigint(20) unsigned NOT NULL default '1',
  `counter_code` varchar(60) collate utf8_unicode_ci NOT NULL default 'AURORA BOX 02',
  `last_login_at` datetime default NULL,
  `created_at` timestamp NULL default CURRENT_TIMESTAMP,
  `updated_at` datetime default NULL,
  PRIMARY KEY  (`id`),
  UNIQUE KEY `uq_pos_users_username` (`username`),
  KEY `idx_pos_users_theater` (`theater_id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
SET character_set_client = @saved_cs_client;

--
-- Dumping data for table `pos_users`
--

LOCK TABLES `pos_users` WRITE;
/*!40000 ALTER TABLE `pos_users` DISABLE KEYS */;
INSERT INTO `pos_users` VALUES (1,'0328754062','sha256:aurora-pos-local-2026:656c6be16cea56dda370ca4ceb71f8a0020454de65a69d1259598aac257116a2','Nguyễn Trần Thái Bảo','0328754062','cashier','active',1,'AURORA BOX 02','2026-10-06 02:44:29','2026-10-05 18:13:59','2026-10-06 02:44:29'),(2,'admin','sha256:aurora-pos-local-2026:93c0b2d7afeca1d4d6d06c1608a11e04eaadadc5734dd0f3ce6501c2abab558c','Quản lý ca trực Aurora','0328754000','admin','active',1,'AURORA BOX 01','2026-10-06 02:21:54','2026-10-05 18:13:59','2026-10-06 02:21:54');
/*!40000 ALTER TABLE `pos_users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `products`
--

DROP TABLE IF EXISTS `products`;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
CREATE TABLE `products` (
  `id` bigint(20) unsigned NOT NULL auto_increment,
  `name` varchar(150) collate utf8_unicode_ci NOT NULL,
  `sku` varchar(50) collate utf8_unicode_ci NOT NULL,
  `category` varchar(80) collate utf8_unicode_ci NOT NULL default 'Concession',
  `price` decimal(12,2) NOT NULL default '0.00',
  `stock_quantity` int(10) unsigned NOT NULL default '0',
  `status` enum('active','inactive') collate utf8_unicode_ci NOT NULL default 'active',
  `created_at` timestamp NULL default CURRENT_TIMESTAMP,
  `updated_at` datetime default NULL,
  PRIMARY KEY  (`id`),
  UNIQUE KEY `sku` (`sku`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
SET character_set_client = @saved_cs_client;

--
-- Dumping data for table `products`
--

LOCK TABLES `products` WRITE;
/*!40000 ALTER TABLE `products` DISABLE KEYS */;
/*!40000 ALTER TABLE `products` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `refunds`
--

DROP TABLE IF EXISTS `refunds`;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
CREATE TABLE `refunds` (
  `id` bigint(20) unsigned NOT NULL auto_increment,
  `transaction_id` bigint(20) unsigned NOT NULL,
  `reason` varchar(255) collate utf8_unicode_ci NOT NULL,
  `amount` decimal(12,2) NOT NULL default '0.00',
  `status` enum('pending','approved','rejected','completed') collate utf8_unicode_ci NOT NULL default 'pending',
  `requested_by` bigint(20) unsigned default NULL,
  `processed_at` datetime default NULL,
  `created_at` timestamp NULL default CURRENT_TIMESTAMP,
  `updated_at` datetime default NULL,
  PRIMARY KEY  (`id`),
  KEY `fk_refunds_transaction` (`transaction_id`),
  KEY `fk_refunds_user` (`requested_by`),
  CONSTRAINT `fk_refunds_transaction` FOREIGN KEY (`transaction_id`) REFERENCES `transactions` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_refunds_user` FOREIGN KEY (`requested_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
SET character_set_client = @saved_cs_client;

--
-- Dumping data for table `refunds`
--

LOCK TABLES `refunds` WRITE;
/*!40000 ALTER TABLE `refunds` DISABLE KEYS */;
/*!40000 ALTER TABLE `refunds` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `revenue_logs`
--

DROP TABLE IF EXISTS `revenue_logs`;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
CREATE TABLE `revenue_logs` (
  `id` bigint(20) unsigned NOT NULL auto_increment,
  `log_date` date NOT NULL,
  `ticket_sales` decimal(14,2) NOT NULL default '0.00',
  `concession_sales` decimal(14,2) NOT NULL default '0.00',
  `total_revenue` decimal(14,2) NOT NULL default '0.00',
  `total_tickets` int(10) unsigned NOT NULL default '0',
  `occupancy_rate` decimal(5,2) NOT NULL default '0.00',
  `updated_at` datetime default NULL,
  PRIMARY KEY  (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
SET character_set_client = @saved_cs_client;

--
-- Dumping data for table `revenue_logs`
--

LOCK TABLES `revenue_logs` WRITE;
/*!40000 ALTER TABLE `revenue_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `revenue_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `schedule_deletion_logs`
--

DROP TABLE IF EXISTS `schedule_deletion_logs`;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
CREATE TABLE `schedule_deletion_logs` (
  `id` bigint(20) unsigned NOT NULL auto_increment,
  `showtime_id` bigint(20) unsigned NOT NULL,
  `movie_id` bigint(20) unsigned NOT NULL,
  `screen_id` bigint(20) unsigned NOT NULL,
  `starts_at` datetime NOT NULL,
  `ends_at` datetime NOT NULL,
  `status` varchar(20) NOT NULL,
  `ticket_price` decimal(12,2) NOT NULL default '0.00',
  `deleted_by` varchar(120) NOT NULL,
  `batch_code` varchar(40) NOT NULL,
  `deleted_at` datetime NOT NULL,
  PRIMARY KEY  (`id`),
  KEY `idx_schedule_deletion_showtime` (`showtime_id`),
  KEY `idx_schedule_deletion_batch` (`batch_code`),
  KEY `idx_schedule_deletion_time` (`deleted_at`)
) ENGINE=InnoDB AUTO_INCREMENT=865 DEFAULT CHARSET=utf8;
SET character_set_client = @saved_cs_client;

--
-- Dumping data for table `schedule_deletion_logs`
--

LOCK TABLES `schedule_deletion_logs` WRITE;
/*!40000 ALTER TABLE `schedule_deletion_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `schedule_deletion_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `schedule_operation_logs`
--

DROP TABLE IF EXISTS `schedule_operation_logs`;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
CREATE TABLE `schedule_operation_logs` (
  `id` bigint(20) unsigned NOT NULL auto_increment,
  `showtime_id` bigint(20) unsigned NOT NULL,
  `action_name` varchar(40) NOT NULL,
  `performed_by` varchar(120) NOT NULL,
  `created_at` datetime NOT NULL,
  PRIMARY KEY  (`id`),
  KEY `idx_schedule_operation_showtime` (`showtime_id`)
) ENGINE=InnoDB AUTO_INCREMENT=872 DEFAULT CHARSET=utf8;
SET character_set_client = @saved_cs_client;

--
-- Dumping data for table `schedule_operation_logs`
--

LOCK TABLES `schedule_operation_logs` WRITE;
/*!40000 ALTER TABLE `schedule_operation_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `schedule_operation_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `screens`
--

DROP TABLE IF EXISTS `screens`;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
CREATE TABLE `screens` (
  `id` bigint(20) unsigned NOT NULL auto_increment,
  `theater_id` bigint(20) unsigned NOT NULL,
  `name` varchar(80) collate utf8_unicode_ci NOT NULL,
  `total_seats` smallint(5) unsigned NOT NULL default '0',
  PRIMARY KEY  (`id`),
  UNIQUE KEY `unique_screen_name` (`theater_id`,`name`),
  CONSTRAINT `screens_ibfk_1` FOREIGN KEY (`theater_id`) REFERENCES `theaters` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=44 DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
SET character_set_client = @saved_cs_client;

--
-- Dumping data for table `screens`
--

LOCK TABLES `screens` WRITE;
/*!40000 ALTER TABLE `screens` DISABLE KEYS */;
/*!40000 ALTER TABLE `screens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `seat_holds`
--

DROP TABLE IF EXISTS `seat_holds`;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
CREATE TABLE `seat_holds` (
  `id` bigint(20) unsigned NOT NULL auto_increment,
  `showtime_id` bigint(20) unsigned NOT NULL,
  `seat_id` bigint(20) unsigned NOT NULL,
  `session_key` varchar(128) NOT NULL,
  `user_id` bigint(20) unsigned default NULL,
  `expires_at` datetime NOT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY  (`id`),
  UNIQUE KEY `uq_seat_hold` (`showtime_id`,`seat_id`),
  KEY `idx_seat_hold_expiry` (`expires_at`),
  KEY `idx_seat_hold_session` (`session_key`,`showtime_id`),
  CONSTRAINT `fk_seat_holds_showtime` FOREIGN KEY (`showtime_id`) REFERENCES `showtimes` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8;
SET character_set_client = @saved_cs_client;

--
-- Dumping data for table `seat_holds`
--

LOCK TABLES `seat_holds` WRITE;
/*!40000 ALTER TABLE `seat_holds` DISABLE KEYS */;
/*!40000 ALTER TABLE `seat_holds` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `seat_price_rules`
--

DROP TABLE IF EXISTS `seat_price_rules`;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
CREATE TABLE `seat_price_rules` (
  `seat_type` varchar(20) NOT NULL,
  `calculation_type` varchar(20) NOT NULL,
  `amount` decimal(12,2) NOT NULL,
  `is_active` tinyint(1) NOT NULL default '1',
  `updated_at` datetime NOT NULL,
  PRIMARY KEY  (`seat_type`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
SET character_set_client = @saved_cs_client;

--
-- Dumping data for table `seat_price_rules`
--

LOCK TABLES `seat_price_rules` WRITE;
/*!40000 ALTER TABLE `seat_price_rules` DISABLE KEYS */;
INSERT INTO `seat_price_rules` VALUES ('COUPLE','MULTIPLIER','2.00',1,'2026-10-04 23:55:36'),('STANDARD','MULTIPLIER','1.00',1,'2026-10-04 23:55:36'),('VIP','SURCHARGE','20000.00',1,'2026-10-04 23:55:36');
/*!40000 ALTER TABLE `seat_price_rules` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `seats`
--

DROP TABLE IF EXISTS `seats`;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
CREATE TABLE `seats` (
  `id` bigint(20) unsigned NOT NULL auto_increment,
  `screen_id` bigint(20) unsigned NOT NULL,
  `seat_row` char(2) NOT NULL,
  `seat_number` smallint(5) unsigned NOT NULL,
  `seat_type` enum('STANDARD','VIP','COUPLE') NOT NULL default 'STANDARD',
  PRIMARY KEY  (`id`),
  UNIQUE KEY `unique_seat_position` (`screen_id`,`seat_row`,`seat_number`),
  CONSTRAINT `seats_ibfk_1` FOREIGN KEY (`screen_id`) REFERENCES `screens` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3615 DEFAULT CHARSET=latin1;
SET character_set_client = @saved_cs_client;

--
-- Dumping data for table `seats`
--

LOCK TABLES `seats` WRITE;
/*!40000 ALTER TABLE `seats` DISABLE KEYS */;
/*!40000 ALTER TABLE `seats` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `showtimes`
--

DROP TABLE IF EXISTS `showtimes`;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
CREATE TABLE `showtimes` (
  `id` bigint(20) unsigned NOT NULL auto_increment,
  `movie_id` bigint(20) unsigned NOT NULL,
  `screen_id` bigint(20) unsigned NOT NULL,
  `starts_at` datetime NOT NULL,
  `ends_at` datetime NOT NULL,
  `ticket_price` decimal(10,2) NOT NULL default '0.00',
  `status` enum('OPEN','CLOSED','CANCELLED') NOT NULL default 'OPEN',
  PRIMARY KEY  (`id`),
  KEY `movie_id` (`movie_id`),
  KEY `screen_id` (`screen_id`),
  KEY `idx_showtimes_start` (`starts_at`),
  CONSTRAINT `showtimes_ibfk_1` FOREIGN KEY (`movie_id`) REFERENCES `movies` (`id`) ON DELETE CASCADE,
  CONSTRAINT `showtimes_ibfk_2` FOREIGN KEY (`screen_id`) REFERENCES `screens` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=1212 DEFAULT CHARSET=latin1;
SET character_set_client = @saved_cs_client;

--
-- Dumping data for table `showtimes`
--

LOCK TABLES `showtimes` WRITE;
/*!40000 ALTER TABLE `showtimes` DISABLE KEYS */;
/*!40000 ALTER TABLE `showtimes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `staff_shifts`
--

DROP TABLE IF EXISTS `staff_shifts`;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
CREATE TABLE `staff_shifts` (
  `id` bigint(20) unsigned NOT NULL auto_increment,
  `staff_name` varchar(120) collate utf8_unicode_ci NOT NULL,
  `position` varchar(80) collate utf8_unicode_ci NOT NULL,
  `shift_name` varchar(50) collate utf8_unicode_ci NOT NULL,
  `start_time` time NOT NULL,
  `end_time` time NOT NULL,
  `status` enum('on_duty','checked_in','checked_out','absent') collate utf8_unicode_ci NOT NULL default 'on_duty',
  `check_in_at` datetime default NULL,
  `check_out_at` datetime default NULL,
  `work_date` date NOT NULL,
  `created_at` timestamp NULL default CURRENT_TIMESTAMP,
  PRIMARY KEY  (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
SET character_set_client = @saved_cs_client;

--
-- Dumping data for table `staff_shifts`
--

LOCK TABLES `staff_shifts` WRITE;
/*!40000 ALTER TABLE `staff_shifts` DISABLE KEYS */;
/*!40000 ALTER TABLE `staff_shifts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `system_configs`
--

DROP TABLE IF EXISTS `system_configs`;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
CREATE TABLE `system_configs` (
  `id` bigint(20) unsigned NOT NULL auto_increment,
  `config_key` varchar(100) collate utf8_unicode_ci NOT NULL,
  `config_value` text collate utf8_unicode_ci,
  `description` varchar(255) collate utf8_unicode_ci default NULL,
  `updated_at` datetime default NULL,
  PRIMARY KEY  (`id`),
  UNIQUE KEY `config_key` (`config_key`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
SET character_set_client = @saved_cs_client;

--
-- Dumping data for table `system_configs`
--

LOCK TABLES `system_configs` WRITE;
/*!40000 ALTER TABLE `system_configs` DISABLE KEYS */;
/*!40000 ALTER TABLE `system_configs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `theater_profiles`
--

DROP TABLE IF EXISTS `theater_profiles`;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
CREATE TABLE `theater_profiles` (
  `theater_id` bigint(20) unsigned NOT NULL,
  `hero_image_url` varchar(500) collate utf8_unicode_ci default NULL,
  `short_description` text collate utf8_unicode_ci,
  `short_description_en` text collate utf8_unicode_ci,
  `description` text collate utf8_unicode_ci,
  `description_en` text collate utf8_unicode_ci,
  `highlights_json` text collate utf8_unicode_ci,
  `highlights_en_json` text collate utf8_unicode_ci,
  `facilities_json` text collate utf8_unicode_ci,
  `facilities_en_json` text collate utf8_unicode_ci,
  `opening_hours` varchar(120) collate utf8_unicode_ci default NULL,
  `contact_phone` varchar(30) collate utf8_unicode_ci default NULL,
  `map_url` varchar(500) collate utf8_unicode_ci default NULL,
  `updated_at` timestamp NULL default NULL,
  PRIMARY KEY  (`theater_id`),
  CONSTRAINT `fk_theater_profiles_theater` FOREIGN KEY (`theater_id`) REFERENCES `theaters` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
SET character_set_client = @saved_cs_client;

--
-- Dumping data for table `theater_profiles`
--

LOCK TABLES `theater_profiles` WRITE;
/*!40000 ALTER TABLE `theater_profiles` DISABLE KEYS */;
/*!40000 ALTER TABLE `theater_profiles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `theaters`
--

DROP TABLE IF EXISTS `theaters`;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
CREATE TABLE `theaters` (
  `id` bigint(20) unsigned NOT NULL auto_increment,
  `name` varchar(120) collate utf8_unicode_ci NOT NULL,
  `address` varchar(255) collate utf8_unicode_ci NOT NULL,
  `city` varchar(100) collate utf8_unicode_ci NOT NULL default 'Ho Chi Minh City',
  `created_at` timestamp NULL default CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY  (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
SET character_set_client = @saved_cs_client;

--
-- Dumping data for table `theaters`
--

LOCK TABLES `theaters` WRITE;
/*!40000 ALTER TABLE `theaters` DISABLE KEYS */;
/*!40000 ALTER TABLE `theaters` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ticket_types`
--

DROP TABLE IF EXISTS `ticket_types`;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
CREATE TABLE `ticket_types` (
  `id` bigint(20) unsigned NOT NULL auto_increment,
  `name` varchar(100) collate utf8_unicode_ci NOT NULL,
  `code` varchar(40) collate utf8_unicode_ci NOT NULL,
  `price` decimal(12,2) NOT NULL default '0.00',
  `description` varchar(255) collate utf8_unicode_ci default NULL,
  `status` enum('active','inactive') collate utf8_unicode_ci NOT NULL default 'active',
  `created_at` timestamp NULL default CURRENT_TIMESTAMP,
  `updated_at` datetime default NULL,
  `pricing_enabled` tinyint(1) NOT NULL default '0',
  PRIMARY KEY  (`id`),
  UNIQUE KEY `code` (`code`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
SET character_set_client = @saved_cs_client;

--
-- Dumping data for table `ticket_types`
--

LOCK TABLES `ticket_types` WRITE;
/*!40000 ALTER TABLE `ticket_types` DISABLE KEYS */;
/*!40000 ALTER TABLE `ticket_types` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tms_cinema_scope_audits`
--

DROP TABLE IF EXISTS `tms_cinema_scope_audits`;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
CREATE TABLE `tms_cinema_scope_audits` (
  `id` bigint(20) unsigned NOT NULL auto_increment,
  `actor_username` varchar(120) NOT NULL,
  `action_name` varchar(80) NOT NULL,
  `theater_id` bigint(20) unsigned default NULL,
  `screen_id` bigint(20) unsigned default NULL,
  `detail` varchar(500) NOT NULL,
  `created_at` datetime NOT NULL,
  PRIMARY KEY  (`id`),
  KEY `idx_scope_audit_theater` (`theater_id`),
  KEY `idx_scope_audit_screen` (`screen_id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8;
SET character_set_client = @saved_cs_client;

--
-- Dumping data for table `tms_cinema_scope_audits`
--

LOCK TABLES `tms_cinema_scope_audits` WRITE;
/*!40000 ALTER TABLE `tms_cinema_scope_audits` DISABLE KEYS */;
INSERT INTO `tms_cinema_scope_audits` VALUES (1,'admin_rap','screen_saved',1,10,'Cập nhật thông tin phòng và sức chứa.','2026-10-03 16:50:46'),(2,'admin_rap','screen_saved',1,9,'Cập nhật thông tin phòng và sức chứa.','2026-10-05 00:11:13'),(3,'admin_rap','screen_saved',1,9,'Cập nhật thông tin phòng và sức chứa.','2026-10-05 00:11:18');
/*!40000 ALTER TABLE `tms_cinema_scope_audits` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tms_holiday_dates`
--

DROP TABLE IF EXISTS `tms_holiday_dates`;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
CREATE TABLE `tms_holiday_dates` (
  `holiday_date` date NOT NULL,
  `holiday_name` varchar(120) NOT NULL,
  `is_active` tinyint(1) NOT NULL default '1',
  `updated_at` datetime NOT NULL,
  PRIMARY KEY  (`holiday_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
SET character_set_client = @saved_cs_client;

--
-- Dumping data for table `tms_holiday_dates`
--

LOCK TABLES `tms_holiday_dates` WRITE;
/*!40000 ALTER TABLE `tms_holiday_dates` DISABLE KEYS */;
INSERT INTO `tms_holiday_dates` VALUES ('2026-01-01','Tết Dương lịch',1,'2026-10-03 17:24:34'),('2026-04-30','Ngày Giải phóng miền Nam',1,'2026-10-03 17:24:34'),('2026-05-01','Quốc tế Lao động',1,'2026-10-03 17:24:34'),('2026-09-02','Quốc khánh',1,'2026-10-03 17:24:34');
/*!40000 ALTER TABLE `tms_holiday_dates` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tms_schedule_details`
--

DROP TABLE IF EXISTS `tms_schedule_details`;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
CREATE TABLE `tms_schedule_details` (
  `showtime_id` bigint(20) unsigned NOT NULL,
  `ticket_price` decimal(12,2) NOT NULL default '0.00',
  `operational_note` varchar(500) NOT NULL default '',
  `updated_by` varchar(120) NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY  (`showtime_id`),
  CONSTRAINT `fk_tms_schedule_details_showtime` FOREIGN KEY (`showtime_id`) REFERENCES `showtimes` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
SET character_set_client = @saved_cs_client;

--
-- Dumping data for table `tms_schedule_details`
--

LOCK TABLES `tms_schedule_details` WRITE;
/*!40000 ALTER TABLE `tms_schedule_details` DISABLE KEYS */;
INSERT INTO `tms_schedule_details` VALUES (1207,'0.00','','Trần Thị Diễm Tuyết','2026-10-05 01:24:57');
/*!40000 ALTER TABLE `tms_schedule_details` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tms_showtime_ticket_types`
--

DROP TABLE IF EXISTS `tms_showtime_ticket_types`;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
CREATE TABLE `tms_showtime_ticket_types` (
  `showtime_id` bigint(20) unsigned NOT NULL,
  `ticket_type_id` bigint(20) unsigned NOT NULL,
  `price` decimal(12,2) NOT NULL default '0.00',
  PRIMARY KEY  (`showtime_id`,`ticket_type_id`),
  KEY `idx_showtime_ticket_type` (`ticket_type_id`),
  CONSTRAINT `fk_tms_showtime_ticket_types_showtime` FOREIGN KEY (`showtime_id`) REFERENCES `showtimes` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
SET character_set_client = @saved_cs_client;

--
-- Dumping data for table `tms_showtime_ticket_types`
--

LOCK TABLES `tms_showtime_ticket_types` WRITE;
/*!40000 ALTER TABLE `tms_showtime_ticket_types` DISABLE KEYS */;
INSERT INTO `tms_showtime_ticket_types` VALUES (1207,1,'75000.00'),(1207,2,'50000.00'),(1207,3,'60000.00'),(1207,4,'0.00'),(1207,5,'0.00');
/*!40000 ALTER TABLE `tms_showtime_ticket_types` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tms_ticket_price_audits`
--

DROP TABLE IF EXISTS `tms_ticket_price_audits`;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
CREATE TABLE `tms_ticket_price_audits` (
  `id` bigint(20) unsigned NOT NULL auto_increment,
  `ticket_type_id` bigint(20) unsigned NOT NULL,
  `actor_username` varchar(120) NOT NULL,
  `old_matrix` text,
  `new_matrix` text NOT NULL,
  `created_at` datetime NOT NULL,
  PRIMARY KEY  (`id`),
  KEY `idx_ticket_price_audit_type` (`ticket_type_id`,`created_at`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8;
SET character_set_client = @saved_cs_client;

--
-- Dumping data for table `tms_ticket_price_audits`
--

LOCK TABLES `tms_ticket_price_audits` WRITE;
/*!40000 ALTER TABLE `tms_ticket_price_audits` DISABLE KEYS */;
/*!40000 ALTER TABLE `tms_ticket_price_audits` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tms_ticket_price_matrix`
--

DROP TABLE IF EXISTS `tms_ticket_price_matrix`;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
CREATE TABLE `tms_ticket_price_matrix` (
  `ticket_type_id` bigint(20) unsigned NOT NULL,
  `day_type` varchar(20) NOT NULL,
  `time_slot` varchar(20) NOT NULL,
  `price` decimal(12,0) NOT NULL default '0',
  `is_active` tinyint(1) NOT NULL default '1',
  `updated_by` varchar(120) default NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY  (`ticket_type_id`,`day_type`,`time_slot`),
  KEY `idx_ticket_price_lookup` (`day_type`,`time_slot`,`is_active`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
SET character_set_client = @saved_cs_client;

--
-- Dumping data for table `tms_ticket_price_matrix`
--

LOCK TABLES `tms_ticket_price_matrix` WRITE;
/*!40000 ALTER TABLE `tms_ticket_price_matrix` DISABLE KEYS */;
/*!40000 ALTER TABLE `tms_ticket_price_matrix` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tms_ticket_price_metadata`
--

DROP TABLE IF EXISTS `tms_ticket_price_metadata`;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
CREATE TABLE `tms_ticket_price_metadata` (
  `ticket_type_id` bigint(20) unsigned NOT NULL,
  `category` varchar(60) NOT NULL default 'standard',
  `eligibility_note` varchar(500) default NULL,
  `purchase_limit` int(10) unsigned default NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY  (`ticket_type_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
SET character_set_client = @saved_cs_client;

--
-- Dumping data for table `tms_ticket_price_metadata`
--

LOCK TABLES `tms_ticket_price_metadata` WRITE;
/*!40000 ALTER TABLE `tms_ticket_price_metadata` DISABLE KEYS */;
/*!40000 ALTER TABLE `tms_ticket_price_metadata` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tms_user_activity_logs`
--

DROP TABLE IF EXISTS `tms_user_activity_logs`;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
CREATE TABLE `tms_user_activity_logs` (
  `id` bigint(20) unsigned NOT NULL auto_increment,
  `target_user_id` bigint(20) unsigned NOT NULL,
  `action_name` varchar(80) NOT NULL,
  `detail` varchar(500) NOT NULL,
  `performed_by` varchar(120) NOT NULL,
  `created_at` datetime NOT NULL,
  PRIMARY KEY  (`id`),
  KEY `idx_tms_user_activity_target` (`target_user_id`),
  KEY `idx_tms_user_activity_created` (`created_at`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8;
SET character_set_client = @saved_cs_client;

--
-- Dumping data for table `tms_user_activity_logs`
--

LOCK TABLES `tms_user_activity_logs` WRITE;
/*!40000 ALTER TABLE `tms_user_activity_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `tms_user_activity_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transactions`
--

DROP TABLE IF EXISTS `transactions`;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
CREATE TABLE `transactions` (
  `id` bigint(20) unsigned NOT NULL auto_increment,
  `transaction_code` varchar(40) collate utf8_unicode_ci NOT NULL,
  `customer_id` bigint(20) unsigned default NULL,
  `channel` enum('pos','website','ota') collate utf8_unicode_ci NOT NULL default 'pos',
  `amount` decimal(12,2) NOT NULL default '0.00',
  `payment_method` varchar(40) collate utf8_unicode_ci NOT NULL default 'cash',
  `status` enum('paid','pending','cancelled','refunded') collate utf8_unicode_ci NOT NULL default 'paid',
  `created_at` timestamp NULL default CURRENT_TIMESTAMP,
  `updated_at` datetime default NULL,
  PRIMARY KEY  (`id`),
  UNIQUE KEY `transaction_code` (`transaction_code`),
  KEY `fk_transactions_customer` (`customer_id`),
  CONSTRAINT `fk_transactions_customer` FOREIGN KEY (`customer_id`) REFERENCES `customers` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
SET character_set_client = @saved_cs_client;

--
-- Dumping data for table `transactions`
--

LOCK TABLES `transactions` WRITE;
/*!40000 ALTER TABLE `transactions` DISABLE KEYS */;
/*!40000 ALTER TABLE `transactions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
CREATE TABLE `users` (
  `id` bigint(20) unsigned NOT NULL auto_increment,
  `username` varchar(60) NOT NULL default '',
  `full_name` varchar(120) character set utf8 NOT NULL,
  `email` varchar(180) NOT NULL,
  `phone` varchar(20) NOT NULL default '',
  `id_number` varchar(30) NOT NULL default '',
  `birthday` date NOT NULL default '1970-01-01',
  `gender` enum('male','female','other') NOT NULL default 'other',
  `city` varchar(100) NOT NULL default '',
  `district` varchar(100) NOT NULL default '',
  `address` varchar(255) NOT NULL default '',
  `password_hash` varchar(255) NOT NULL,
  `role` varchar(30) NOT NULL default 'customer',
  `status` varchar(20) NOT NULL default 'active',
  `last_login` datetime NOT NULL default '1970-01-01 00:00:00',
  `membership_level` enum('STANDARD','SILVER','GOLD','PLATINUM') NOT NULL default 'STANDARD',
  `points` int(10) unsigned NOT NULL default '0',
  `theater_id` bigint(20) unsigned NOT NULL default '1',
  `created_at` timestamp NULL default CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY  (`id`),
  UNIQUE KEY `email` (`email`),
  UNIQUE KEY `uq_users_username` (`username`),
  KEY `idx_users_theater_scope` (`theater_id`,`role`,`status`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=latin1;
SET character_set_client = @saved_cs_client;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vouchers`
--

DROP TABLE IF EXISTS `vouchers`;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
CREATE TABLE `vouchers` (
  `id` bigint(20) unsigned NOT NULL auto_increment,
  `code` varchar(40) collate utf8_unicode_ci NOT NULL,
  `name` varchar(150) collate utf8_unicode_ci NOT NULL,
  `discount_type` enum('percent','amount') collate utf8_unicode_ci NOT NULL default 'percent',
  `discount_value` decimal(12,2) NOT NULL default '0.00',
  `starts_at` datetime NOT NULL,
  `ends_at` datetime NOT NULL,
  `usage_limit` int(10) unsigned NOT NULL default '0',
  `used_count` int(10) unsigned NOT NULL default '0',
  `status` enum('active','inactive','expired') collate utf8_unicode_ci NOT NULL default 'active',
  `created_at` timestamp NULL default CURRENT_TIMESTAMP,
  `updated_at` datetime default NULL,
  PRIMARY KEY  (`id`),
  UNIQUE KEY `code` (`code`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
SET character_set_client = @saved_cs_client;

--
-- Dumping data for table `vouchers`
--

LOCK TABLES `vouchers` WRITE;
/*!40000 ALTER TABLE `vouchers` DISABLE KEYS */;
/*!40000 ALTER TABLE `vouchers` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-10-05 19:33:56
